__pycache__/
.env/
notebooks/
train.sh 
save/
train_mnist.py
defenses/
results/
data/
.neptune/
feature_data/
*.pkl
defenses/
logs/
test_images/
trojaned_images/
*.png
trojaned_weights_and_biases/
*.sh
.vscode/
_code/
origina_weights_and_biases/
processed_images/
defense.py
classify.py
config.py
pth2bin.py
dataloader.py
enhanced_main.py
evaluate_model.py
# README.md
simulate_HAMOCK_attack.py
test.py
testing.py
utils.py